<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <li>
             <p>Show All Records <a href="/blobs">/blobs</a></p>
        </li>
        <li>
              <p>Add New Record <a href="/blobs/new">/blobs/new</a></p>
        </li>
        <li>
              <p>Show Individual Record by Id <a href="/blobs/<put-id-here>">/blobs/:_id</a></p>
        </li>
        <li>
              <p>Update a record <a href="/blobs/<put-id-here>/edit">/blobs/:_id/edit</a></p>
        </li>
    </ul>
  </body>
</html>
