/*-------------------- dependencies*/

@import "_control";

/*-------------------- major DOM elements*/

@include resetAll;

body {
    min-height: 100vh;
    width: 100%;
    font-family: $baseFont;
    color: $fontColor;
    letter-spacing: 0.04rem;
    line-height: 1.5rem;
}
#wrapper {
    width: 100%;
}
.constrainBox {
    width: 100%;
    max-width: px(1200);
    margin-left: auto;
    margin-right: auto;
    @include mainPadding;
}

/*----------------------------------------------------------------------*/


body {
  padding: 50px;
}

a {
  @include linkPrimary;
}

h1 {
    margin-bottom: 1rem;
}

p{
    margin: 0.5rem 0;
}

li{
    display: list-item;
    list-style-type: disc;
    
    form{
        display: inline-block;
        
        & ~ p{
            display: inline-block;
            
            a{
                margin-left: 0.5rem;
            }
        }
        
    }
    
    
}

form {
    >p{
            margin: 1rem 0;
        }
}

ul{
    padding-left: 2rem;
}

button{
    @include buttonPrimary;
}